* {
    margin: 0;
    padding: 0;
}

header {
    padding: 0px 0px;
}

.container {
    max-width: 1064px;
    margin: auto;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .nav-links a{
    text-decoration: none;
    color: #1C1B1B;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26.4px; /* 165% */
}
header .nav-links a:nth-of-type(1){
    margin-right:28px;
}
header .nav-links a:nth-of-type(2){
    margin-right:28px;
}
header .nav-links a:nth-of-type(3){
    margin-right:28px;
}

.logo {
    position: absolute;
    left: calc(50% - 40px);
}

.nav_2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin-bottom: 8px;
    margin-top: 7px;
}

.nav_2 li:first-child {
    margin-right: 15px;
}

.nav_2 li:last-child {
    margin-left: 8px;
}

.nav ul {
    display: flex;
    list-style: none;
    margin-right: 542px;
    color: #1C1B1B;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26.4px;
}

.nav li {
    margin-right: 28px;
}

.fall_deeper {
    background: #F0EFEB;
}

.fall_deeper .container {
    max-width: 1064px;
    display: flex;
    justify-content: space-between;
}

.fall_deeper_text {
    margin-right: 73px;
}

.fall_deeper h1, .fall_deeper h2 {
    max-width: 534px;
    color: #000;
    font-family: Roboto;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.fall_deeper h2:nth-of-type(1) {
    padding-top: 90px;
}

.fall_deeper h2:nth-of-type(2) {
    margin-bottom: 42px;
}

.fall_deeper p {
    margin-bottom: 33px;
    max-width: 481px;
    color: #000;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fall_deeper a {
    padding: 7px 23px 9px;
    border-radius: 100px;
    border: 1px solid #000;
    background: #000;
    color: #FFF;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.our_guides {
    max-width: 1064px;
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our_guides p:nth-of-type(1){

}

.our_sellers .our_guides :nth-child(1) {
    margin-bottom: 27px;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.our_sellers .our_guides :nth-child(2) {
    margin-bottom: 47px;
    max-width: 632px;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.our_sellers .our_guides :nth-child(3) {
    margin-bottom: 88px;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.our_sellers .our_guides :nth-child(4) {
    margin-bottom: 52px;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.articles {
    display: flex;
    justify-content: space-between;
    padding-bottom: 248px;
}
.articles article{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.articles p{
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.articles img {
    margin-bottom: 27px;
}

.articles .price {
    margin-bottom: 10px;
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.articles a{
    color: #000;
    text-align: center;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}
.articles .thalby_guide {
    margin-bottom: 17px;
    max-width: 156px;
}

.people_and_society article {
    display: flex;
}
.our_sellers img{
    width: 315px;
}
.people_and_society h3{
    color: #000;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.people_and_society p{
    color: #000;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 498px;
}
.people_and_society a{
    color: #000;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}
.people_and_society_1, .people_and_society_3{
    background: rgba(204, 204, 204, 0.30);
}
.people_and_society_2{
    background: rgba(204, 204, 204, 0.60);
}
.people_and_society_1 a, .people_and_society_3 a{
    margin:76px 50px 51px 0px;
}
.people_and_society_1 h3,.people_and_society_2 h3, .people_and_society_3 h3{
    margin-bottom: 31px;
    margin-top: 146px;
}
.people_and_society_1 p,.people_and_society_2 p, .people_and_society_3 p{
    margin-bottom: 40px;
}
.people_and_society_2 article{
    flex-direction: row-reverse;
}
.people_and_society_2 a{
    margin:76px 0px 51px 50px;
}